.App {
  background-color: white;
  text-align: center;
}
.App-header {
  background-color: darkorange;
  min-height: 150px;
  height: 200px;
  display: flex;
}

.App-Footer {
  background-color: lightslategray;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-Footer span {
  float: right;
}
